<div class="page-header">
  <h1>
    <translate>Aside Testing a new Fields:</translate>
  </h1>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <pre>{{ model }}</pre>
  <cfform-show ng-model="model" fields="fields"></cfform-show>
</div>