<div class="page-header">
  <a ng-href="#/concept-new" class="btn btn-primary pull-right" title="New Concept" role="button" style="border-radius: 0px;">
    <i class="glyphicon glyphicon-plus"></i>
    Add Concept
  </a>

  <a ng-href="#/new-form" class="btn btn-primary pull-right" title="New Form" role="button" style="border-radius: 0px;">
    <i class="glyphicon glyphicon-plus"></i>
    Add Form
  </a>

  <h1>
    <translate>Forms List:</translate>
    <a ng-href="#/builder" class="" style="font-size: 14px;"><span class="label label-primary"><translate>builder only</translate></span></a>
    <a ng-href="#/concept" class="" style="font-size: 14px;"><span class="label label-primary"><translate>concept only</translate></span></a>
    <a ng-href="#/concept-list" class="" style="font-size: 14px;"><span class="label label-success"><translate>concept list</translate></span></a>
  </h1>
</div>

<div class="col-lg-12">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          <translate>Name</translate>
        </th>
        <th>
          <translate>Description</translate>
        </th>
        <th>
          <translate>Actions</translate>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="formObject in forms">
        <td>{{ formObject.name }}</td>
        <td>{{ formObject.description }}</td>
        <td style="width: 25%;">
          <div class="btn-group btn-group-sm pull-right">
            <a ng-href="#/edit-form/{{ formObject.id }}" class="btn btn-default btn-sm" role="button">
              <i class="glyphicon glyphicon-edit"></i>
              <translate>Edit</translate>
            </a>
            <a ng-href="#/show-form/{{ formObject.id }}" class="btn btn-default btn-sm" role="button">
              <i class="glyphicon glyphicon-th-list"></i>
              <translate>Show</translate>
            </a>
            <a ng-href="#/remove-form/{{ formObject.id }}" class="btn btn-danger btn-sm" role="button">
              <i class="glyphicon glyphicon-remove"></i>
              <translate>Remove</translate>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>