<div class="page-header">
  <a ng-href="#/concept-new" class="btn btn-primary pull-right" title="New Concept" role="button"
     style="border-radius: 0px;">
    <i class="glyphicon glyphicon-plus"></i>
    Add Concept
  </a>

  <a ng-href="#/new-form" class="btn btn-primary pull-right" title="New Form" role="button" style="border-radius: 0px;">
    <i class="glyphicon glyphicon-plus"></i>
    Add Form
  </a>

  <h1>
    <a ng-href="#/builder" class="" style="font-size: 14px;"><span class="label label-primary"><translate>builder only</translate></span></a>
    <a ng-href="#/concept" class="" style="font-size: 14px;"><span class="label label-primary"><translate>concept only</translate></span></a>
    <a ng-href="#/concept-list" class="" style="font-size: 14px;"><span class="label label-success"><translate>concept list</translate></span></a>
    <a ng-href="#/form-list" class="" style="font-size: 14px;"><span class="label label-success"><translate>form list</translate></span></a>
  </h1>
</div>

<div class="intro col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <div class="page-header">
    <h1>CF Form Project</h1>
  </div>

  <p>CF Form Project es un proyecto basado en la librería <a
          href="http://docs.angular-formly.com">angular-formly</a> para
    la generación de formularios a partir de un json y asignar los datos a un modelo con el cual trabajar.</p>

  <video class="video-js vjs-default-skin"
         controls preload="auto" style="width: 100%; height: 500px;"
         poster="poster.png"
         data-setup='{"example_option":true}'>
    <source src="./cfform.mp4" type='video/mp4'/>
  </video>
  <br/>

  <p>El siguiente json:</p>

  <pre>
    [{
    "className" : "row",
    "fieldGroup": [
      {
        className : "col-xs-6",
        key : 'key',
        type : 'input',
        templateOptions: {
            type : 'text',
            label : 'Key model',
            placeholder: 'Key model',
            required : true,
            description: 'The key to model value.'
        }
      },
      {
        className : "col-xs-6",
        key : 'label',
        type : 'input',
        templateOptions: {
            type : 'string',
            label : 'Display name',
            placeholder: 'Display name',
            required : true,
            description: 'The name of the field label.'
        }
      }
    ]
    ....
    }]
  </pre>

  <p>genera el formulario:</p>

  <img class="img-thumbnail" src="./doc-images/form-generated.png"/>
  <br/><br/>

  <p>Por tanto cf-form utiliza formly para generar formularios más avanzados.</p>

  <h3>Conceptos</h3>
  <br/>

  <p>cf-form está diseñado para construir formularios extensos pero puede ser difícil la
    construcción de los mismos, es más óptimo tener un conjunto de campos agrupados en
    conceptos que juntos conformen el extenso formulario, siendo reutilizables para otros
    formularios y fáciles de organizar.</p>

  <p>Por tanto un concepto es un conjunto de campos y un formulario se construye por un conjunto de conceptos.</p>

  <p>cf-form permite hacer versiones de los conceptos y los formularios, es decir, no solo permite ser reutilizable
    sino que además permite usar una versión anterior.</p>

  <img class="img-thumbnail" src="./doc-images/cfform_details.png"/>
  <br/><br/>

  <p>Resultado:</p>

  <img class="img-thumbnail" src="./doc-images/result.png"/>
  <br/><br/>

  <h4>Constructor de Concepto</h4>
  <br/>

  <img class="img-thumbnail" src="./doc-images/concept_builder.png"/>
  <br/><br/>

  <h4>Versiones - Conceptos</h4>
  <br/>

  <img class="img-thumbnail" src="./doc-images/concept_versions.png"/>
  <br/><br/>

  <h4>Constructor de Formulario</h4>
  <br/>

  <img class="img-thumbnail" src="./doc-images/form_builder.png"/>
  <br/><br/>

  <h4>Versiones - Formularios</h4>
  <br/>

  <img class="img-thumbnail" src="./doc-images/form_versions.png"/>
  <br/><br/>

  <div class="btn-group btn-group-justified">
    <!--<a class="btn btn-default" ng-class="{'active': before}" role="button"-->
       <!--style="border-radius: 0px;"-->
       <!--ng-click="before = true; after = false;">Antes</a>-->
    <a class="btn btn-default" ng-class="{'active': after}" role="button"
       style="border-radius: 0px;"
       ng-click="after = true; before = false;">Ahora</a>
  </div>

  <div style="border: 1px solid #adadad;padding: 2px;border-top: 0px;">
    <div ng-if="before">
      <!--<div cfform ng-model="dataForm"></div>-->
    </div>

    <div ng-if="after">
      <div cfconceptdrag ng-model="dataConcept" style="margin-right: 0px;margin-left: 0px;"></div>
    </div>
  </div>

</div>