<div class="page-header">
  <a ng-href="#/new-form" class="btn btn-primary btn-lg pull-right" title="New Form" role="button">
    <i class="glyphicon glyphicon-plus"></i>
  </a>
  <h1>
    <translate>Remove Form:</translate> <strong>{{ formObject.name }}</strong>
  </h1>
</div>

<ol class="breadcrumb">
  <li>
    <a href="#/form-list">
      <translate>List forms</translate>
    </a>
  </li>
  <li>
    <a href="#/edit-form/{{ formObject.id }}">
      <translate>Edit Form</translate>
    </a>
  </li>
  <li>
    <a href="#/show-form/{{ formObject.id }}">
      <translate>Show Form</translate>
    </a>
  </li>
  <li class="active">
    <translate>Remove Form</translate>
    : <strong>{{ formObject.name }}</strong>
  </li>
</ol>

<div class="alert alert-danger fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h4>
    <translate>Are you sure</translate>
    !
  </h4>

  <p>
    <translate>Remove form</translate>: <strong>{{ formObject.name }}</strong></p>

  <p>
    <button type="button" class="btn btn-danger btn-sm" ng-click="removeForm(formObject)">Remove</button>
    <a ng-href="#/" class="btn btn-default btn-sm" role="button">
      <translate>Cancel</translate>
    </a>
  </p>
</div>